{% extends 'base.html.twig' %}

{% block title %}Barrutia index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-10">
            <h1>Barrutia mantenimendua</h1>
        </div>
        <div class="col-md-2 text-right">
            <a class="btn btn-primary" href="{{ path('barrutia_new') }}"><i class="fas fa-plus-square"></i> Barruti berria</a>
        </div>
    </div>


    <div class="row">&nbsp;</div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Barrutia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for barrutium in barrutias %}
            <tr>
                <td>{{ barrutium.id }}</td>
                <td>{{ barrutium.name }}</td>
                <td>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn btn-sm btn-outline-secondary" href="{{ path('barrutia_edit', {'id': barrutium.id}) }}"><i class="fas fa-edit"></i> Aldatu</a>
                        </li>
                        <li class="list-inline-item">
                            {% include('barrutia/_delete_form.html.twig') %}
                        </li>
                    </ul>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
