{% extends 'base.html.twig' %}

{% block title %}New Barrutia{% endblock %}

{% block body %}
    <h1>Create new Barrutia</h1>

    {{ include('barrutia/_form.html.twig') }}

    <a href="{{ path('barrutia_index') }}">back to list</a>
{% endblock %}
