<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        {% if is_granted('ROLE_ADMIN') %}
            <ul class="nav flex-column">


            </ul>

        {% endif %}
    </div>
</nav>
