{% extends 'base.html.twig' %}

{% block title %}Egoiliar berria{% endblock %}

{% block body %}
    <h1>Egoiliar berria</h1>

    {{ include('egoiliarra/_form.html.twig') }}

    <a href="{{ path('egoiliarra_index') }}"><i class="far fa-arrow-alt-circle-left"></i> Itzuli zerrendara</a>
{% endblock %}
